/*--------------------------
Scroll Line Animation  
----------------------------*/
@-webkit-keyframes line1 {
	0% {
		opacity: 1;
		bottom: 0;
	}
	30% {
		bottom: 30%;
	}
	50% {
		bottom: 50%;
	}
	70% {
		bottom: 70%;
	}
	100% {
		bottom: 100%;
		opacity: 0.5;
	}
}
@keyframes line1 {
	0% {
		opacity: 1;
		bottom: 0;
	}
	30% {
		bottom: 30%;
	}
	50% {
		bottom: 50%;
	}
	70% {
		bottom: 70%;
	}
	100% {
		bottom: 100%;
		opacity: 0.5;
	}
}

@-webkit-keyframes line5 {
	0% {
		opacity: 1;
		bottom: 400px;
	}
	50% {
		bottom: 50%;
	}
	100% {
		bottom: 100%;
		opacity: 0.5;
	}
}

@keyframes line5 {
	0% {
		opacity: 1;
		bottom: 400px;
	}
	50% {
		bottom: 50%;
	}
	100% {
		bottom: 100%;
		opacity: 0.5;
	}
}

@-webkit-keyframes line2 {
	0% {
		opacity: 1;
		top: 0;
	}
	30% {
		bottom: 30%;
	}
	50% {
		bottom: 50%;
	}
	70% {
		bottom: 70%;
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}

@keyframes line2 {
	0% {
		opacity: 1;
		top: 0;
	}
	30% {
		bottom: 30%;
	}
	50% {
		bottom: 50%;
	}
	70% {
		bottom: 70%;
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}

@-webkit-keyframes line3 {
	0% {
		opacity: 1;
		top: 500px;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}

@keyframes line3 {
	0% {
		opacity: 1;
		top: 500px;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}

@-webkit-keyframes line4 {
	0% {
		opacity: 1;
		top: 300px;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}

@keyframes line4 {
	0% {
		opacity: 1;
		top: 300px;
	}
	50% {
		top: 50%;
	}
	100% {
		top: 100%;
		opacity: 0.5;
	}
}

// /*--------------------------
//     Set Line Animation
// ----------------------------*/

.set_line_wrapper {
	.set_line_area {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		@media only screen and (max-width: 767px) {
			display: none;	
		}
		.line_inner {
			width: 100%;
			margin: 0 auto;
			position: relative;
			z-index: -1;
			height: 100%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			.line {
				width: 10%;
				height: 100%;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				border-right: 1px solid rgba(255, 255, 255, 0.6);
				position: relative;
				z-index: -2;
				&:first-child {
					border-left: 1px solid rgba(255, 255, 255, 0.6);
					&::before {
						content: '';
						position: absolute;
						top: 0;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line2 8s ease-out infinite;
						animation: line2 8s ease-out infinite;
						background: #007AFF;
					}
					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line1 8s ease-out infinite;
						animation: line1 8s ease-out infinite;
						background: #49CCFF;
					}
				}
				&:nth-child(2){
					&::before {
						content: '';
						position: absolute;
						bottom: 0;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line1 8s ease-out infinite;
						animation: line1 8s ease-out infinite;
						background: #7A19FF;
					}
					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line2 8s ease-out infinite;
						animation: line2 8s ease-out infinite;
						background: #FFCD3E;
					}
				}
				&:nth-child(3){
					&::before {
						content: '';
						position: absolute;
						top: 500px;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line3 8s ease-out infinite;
						animation: line3 8s ease-out infinite;
						background: #702FFF;
					}
				}
				&:nth-child(4){ 
					&::before {
						content: '';
						position: absolute;
						bottom: 400px;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line5 8s ease-out infinite;
						animation: line5 8s ease-out infinite;
						background: #7A19FF;
					}
				}
				&:nth-child(5) {
					&::before {
						content: '';
						position: absolute;
						top: 500px;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line3 8s ease-out infinite;
						animation: line3 8s ease-out infinite;
						background: #00D09C;
					}
				}
				&:nth-child(6){
					&::before {
						content: '';
						position: absolute;
						bottom: 0;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line1 8s ease-out infinite;
						animation: line1 8s ease-out infinite;
						background: #7A19FF;
					}
				}
				&:nth-child(7){ 
					&::before {
						content: '';
						position: absolute;
						top: 300px;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line4 8s ease-out infinite;
						animation: line4 8s ease-out infinite;
						background: #00CFFF;
					}
				}
				&:nth-child(9){
					&::before {
						content: '';
						position: absolute;
						top: 300px;
						right: -2px;
						width: 1px;
						height: 50px;
						-webkit-animation: line4 8s ease-out infinite;
						animation: line4 8s ease-out infinite;
						background: #FF8A5B;
					}
				}
			}
		}
	}
}
